{% extends "layout.html" %}

{% block title %}
    {{crystal.name}}
{% endblock %}

{% block main %}
<div class="flex">
    <div class="favourite">
    <img class="picture" src="{{url_for('static',filename="crystal_image/" ~ crystal.image)}}">
    <form action='/crystals/{{crystal.name}}' method='post'>
        <input type="hidden" name="crystal_id" value="{{crystal.id}}">
        <button type="submit" class="btn_heart">
        <img class="heart" src="{{url_for('static',filename='heart_empty.png')}}">
        </button>
    </form>

    </div>
    <table class="table t">
    <tr>
        <th scope="row">Crystal name</th>
        <td>{{crystal.name}}</td>
    </tr>
    <tr>
        <th scope="row">Energy theme</th>
        <td>{{crystal.theme}}</td>
    </tr>
    <tr>
        <th scope="row">Crystal energy</th>
        <td>{{crystal.description}}</td>
    </tr>

    </table>
</div>

    <script>
        //boolean state from flask to see if it is favourite or not.
        let favourite={{favourite| tojson}};
        let img = document.querySelector(".heart");

        if (favourite === true){
            img.src="/static/heart.png";
        }
        else{
            img.src="/static/heart_empty.png";
        };

        document.querySelector('.btn_heart').addEventListener('click',function(e){
            e.preventDefault();

            favourite =! favourite;
            if (favourite){
                img.src="/static/heart.png";
            }
            else{
            img.src="/static/heart_empty.png";
            };

        });


        window.addEventListener('beforeunload',function(){
            navigator.sendBeacon(`/crystals/{{crystal.name}}`,
            favourite.toString());
        });


    </script>


{% endblock %}

